.mat-table {
  box-shadow: none;
}
.mat-table,.mat-paginator {
  background-color: rgba(0,0,0,0);
}
.mat-header-cell {
  color: white;
}
.mat-header-row {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.mat-cell {
  color: white;
  text-overflow: ellipsis;
}
.mat-row {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.example-container {
  box-shadow: none;
  border-radius: 8px;
  background-color: rgba(0,0,0,.15)
}
a {
  cursor:pointer;
  border-bottom: 1px solid white;
  color: black;
  text-decoration-line: none;
  color: white;
}
.mat-raised-button {
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 8px;
  color:white;
}