<div>
	<title-bar title="歌手列表"></title-bar>
	<breadNav></breadNav>
	<div class="search-bar">
		<div class="searchbysong">
			<md-input-container>
			  	<input mdInput [(ngModel)]="this.songname" placeholder="歌曲名" >
			</md-input-container>
			<button md-raised-button (click)="searchbysong()">查询</button>
		</div>
	</div>
	<div class="songlist-table">

		<div class="example-container mat-elevation-z8">

		  <md-table #table [dataSource]="dataSource">


		    <!-- <ng-container cdkColumnDef="checkBox">
		    	<md-header-cell *cdkHeaderCellDef><md-checkbox (click)="selectAll()"></md-checkbox></md-header-cell>
		      	<md-cell *cdkCellDef="let row"><md-checkbox (click)="testclick(row)"></md-checkbox></md-cell>
		    </ng-container> -->

		    <ng-container cdkColumnDef="songId">
		      <md-header-cell *cdkHeaderCellDef> 歌曲ID </md-header-cell>
		      <md-cell *cdkCellDef="let row"> <a (click)="gotoDetail(row.songId)">{{row.songId}}</a> </md-cell>
		    </ng-container>

		    <ng-container cdkColumnDef="songName">
		      <md-header-cell *cdkHeaderCellDef> 歌曲名 </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.songName}} </md-cell>
		    </ng-container>

		    <ng-container cdkColumnDef="cleanedSongName">
		      <md-header-cell *cdkHeaderCellDef> 洗后歌曲名 </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.cleanedSongName}} </md-cell>
		    </ng-container>

		    <ng-container cdkColumnDef="singerId">
		      <md-header-cell *cdkHeaderCellDef> 歌手ID </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.singerId}} </md-cell>
		    </ng-container>

		    <ng-container cdkColumnDef="singerName">
		      <md-header-cell *cdkHeaderCellDef> 歌手名 </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.singerName}} </md-cell>
		    </ng-container>

		    <ng-container cdkColumnDef="cleanedSingerName">
		      <md-header-cell *cdkHeaderCellDef> 洗后歌手名 </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.cleanedSingerName}} </md-cell>
		    </ng-container>

		    <ng-container cdkColumnDef="hotDegree">
		      <md-header-cell *cdkHeaderCellDef> 热度 </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.hotDegree}} </md-cell>
		    </ng-container>
			
			<ng-container cdkColumnDef="state">
		      <md-header-cell *cdkHeaderCellDef> 歌曲状态 </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.state}} </md-cell>
		    </ng-container>

		    <ng-container cdkColumnDef="createTime">
		      <md-header-cell *cdkHeaderCellDef> 创建时间 </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.createTime}} </md-cell>
		    </ng-container>

		    <ng-container cdkColumnDef="lastEditTime">
		      <md-header-cell *cdkHeaderCellDef> 最后修改时间 </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.lastEditTime}} </md-cell>
		    </ng-container>

		    <!-- <ng-container cdkColumnDef="action">
		      <md-header-cell *cdkHeaderCellDef> 加入精选集 </md-header-cell>
		      <md-cell *cdkCellDef="let row"><a (click)="openDialog(row.songId)">添加</a></md-cell>
		    </ng-container> -->

		    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
		    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
		  </md-table>

		  <md-paginator #paginator
		                [length]="exampleDatabase.data.length"
		                [pageIndex]="0"
		                [pageSize]="5"
		                [pageSizeOptions]="[5, 10, 25, 100]">
		  </md-paginator>
		</div>
	</div>
</div>