<div>
	<title-bar title="歌手列表"></title-bar>
	<breadNav></breadNav>
	<div class="exportNlp-button">
		<button md-raised-button (click)="exportNlp()">导入NLP</button>
	</div>
	<div class="nlp-table">
		<div class="example-container mat-elevation-z8">
		  <md-table #table [dataSource]="dataSource">
		    <ng-container cdkColumnDef="checkBox">
		    	<md-header-cell *cdkHeaderCellDef><md-checkbox (click)="selectAll()"></md-checkbox></md-header-cell>
		      	<md-cell *cdkCellDef="let row"><md-checkbox [(ngModel)]="row.checkBox" (click)="boxSelected(row)"></md-checkbox></md-cell>
		    </ng-container>

		    <ng-container cdkColumnDef="singerName">
		      <md-header-cell *cdkHeaderCellDef> 歌手名 </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.singerName}} </md-cell>
		    </ng-container>

		    <ng-container cdkColumnDef="cleanedSingerName">
		      <md-header-cell *cdkHeaderCellDef> 洗后歌手名 </md-header-cell>
		      <md-cell *cdkCellDef="let row"> {{row.cleanedSingerName}} </md-cell>
		    </ng-container>
		    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
		    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
		  </md-table>
		  <md-paginator #paginator
		                [length]="exampleDatabase.data.length"
		                [pageIndex]="0"
		                [pageSize]="5"
		                [pageSizeOptions]="[5, 10, 25, 100]">
		  </md-paginator>
		</div>
	</div>
</div>
